Next.js-15-Tutorials-main/authentication-demo/.eslintrc.json
Next.js-15-Tutorials-main/authentication-demo/.gitignore
Next.js-15-Tutorials-main/authentication-demo/next.config.ts
Next.js-15-Tutorials-main/authentication-demo/package-lock.json
Next.js-15-Tutorials-main/authentication-demo/package.json
Next.js-15-Tutorials-main/authentication-demo/postcss.config.mjs
Next.js-15-Tutorials-main/authentication-demo/README.md
Next.js-15-Tutorials-main/authentication-demo/tailwind.config.ts
Next.js-15-Tutorials-main/authentication-demo/tsconfig.json
Next.js-15-Tutorials-main/authentication-demo/public/file.svg
Next.js-15-Tutorials-main/authentication-demo/public/globe.svg
Next.js-15-Tutorials-main/authentication-demo/public/next.svg
Next.js-15-Tutorials-main/authentication-demo/public/vercel.svg
Next.js-15-Tutorials-main/authentication-demo/public/window.svg
Next.js-15-Tutorials-main/authentication-demo/src/middleware.ts
Next.js-15-Tutorials-main/authentication-demo/src/app/favicon.ico
Next.js-15-Tutorials-main/authentication-demo/src/app/globals.css
Next.js-15-Tutorials-main/authentication-demo/src/app/layout.tsx
Next.js-15-Tutorials-main/authentication-demo/src/app/page.tsx
Next.js-15-Tutorials-main/authentication-demo/src/app/admin/actions.ts
Next.js-15-Tutorials-main/authentication-demo/src/app/admin/page.tsx
Next.js-15-Tutorials-main/authentication-demo/src/app/dashboard/page.tsx
Next.js-15-Tutorials-main/authentication-demo/src/app/fonts/GeistMonoVF.woff
Next.js-15-Tutorials-main/authentication-demo/src/app/fonts/GeistVF.woff
Next.js-15-Tutorials-main/authentication-demo/src/app/sign-in/\[\[...sign-in]]/page.tsx
Next.js-15-Tutorials-main/authentication-demo/src/app/sign-up/\[\[...sign-up]]/page.tsx
Next.js-15-Tutorials-main/authentication-demo/src/app/user-profile/\[\[...user-profile]]/page.tsx
Next.js-15-Tutorials-main/authentication-demo/src/components/counter.tsx
Next.js-15-Tutorials-main/authentication-demo/src/components/navigation.tsx
Next.js-15-Tutorials-main/authentication-demo/types/globals.d.ts
Next.js-15-Tutorials-main/caching-revalidation-demo/.eslintrc.json
Next.js-15-Tutorials-main/caching-revalidation-demo/.gitignore
Next.js-15-Tutorials-main/caching-revalidation-demo/db.json
Next.js-15-Tutorials-main/caching-revalidation-demo/next.config.ts
Next.js-15-Tutorials-main/caching-revalidation-demo/package-lock.json
Next.js-15-Tutorials-main/caching-revalidation-demo/package.json
Next.js-15-Tutorials-main/caching-revalidation-demo/postcss.config.mjs
Next.js-15-Tutorials-main/caching-revalidation-demo/README.md
Next.js-15-Tutorials-main/caching-revalidation-demo/tailwind.config.ts
Next.js-15-Tutorials-main/caching-revalidation-demo/tsconfig.json
Next.js-15-Tutorials-main/caching-revalidation-demo/prisma/app.db
Next.js-15-Tutorials-main/caching-revalidation-demo/prisma/schema.prisma
Next.js-15-Tutorials-main/caching-revalidation-demo/prisma/migrations/migration_lock.toml
Next.js-15-Tutorials-main/caching-revalidation-demo/prisma/migrations/20241125081652_init/migration.sql
Next.js-15-Tutorials-main/caching-revalidation-demo/public/file.svg
Next.js-15-Tutorials-main/caching-revalidation-demo/public/globe.svg
Next.js-15-Tutorials-main/caching-revalidation-demo/public/next.svg
Next.js-15-Tutorials-main/caching-revalidation-demo/public/vercel.svg
Next.js-15-Tutorials-main/caching-revalidation-demo/public/window.svg
Next.js-15-Tutorials-main/caching-revalidation-demo/src/prisma-db.ts
Next.js-15-Tutorials-main/caching-revalidation-demo/src/app/favicon.ico
Next.js-15-Tutorials-main/caching-revalidation-demo/src/app/globals.css
Next.js-15-Tutorials-main/caching-revalidation-demo/src/app/layout.tsx
Next.js-15-Tutorials-main/caching-revalidation-demo/src/app/page.tsx
Next.js-15-Tutorials-main/caching-revalidation-demo/src/app/fonts/GeistMonoVF.woff
Next.js-15-Tutorials-main/caching-revalidation-demo/src/app/fonts/GeistVF.woff
Next.js-15-Tutorials-main/caching-revalidation-demo/src/app/json-server-products/page.tsx
Next.js-15-Tutorials-main/caching-revalidation-demo/src/app/prisma-products/page.tsx
Next.js-15-Tutorials-main/data-fetching-demo/.eslintrc.json
Next.js-15-Tutorials-main/data-fetching-demo/.gitignore
Next.js-15-Tutorials-main/data-fetching-demo/next.config.ts
Next.js-15-Tutorials-main/data-fetching-demo/package-lock.json
Next.js-15-Tutorials-main/data-fetching-demo/package.json
Next.js-15-Tutorials-main/data-fetching-demo/postcss.config.mjs
Next.js-15-Tutorials-main/data-fetching-demo/README.md
Next.js-15-Tutorials-main/data-fetching-demo/tailwind.config.ts
Next.js-15-Tutorials-main/data-fetching-demo/tsconfig.json
Next.js-15-Tutorials-main/data-fetching-demo/prisma/schema.prisma
Next.js-15-Tutorials-main/data-fetching-demo/prisma/migrations/migration_lock.toml
Next.js-15-Tutorials-main/data-fetching-demo/prisma/migrations/20241119043535_init/migration.sql
Next.js-15-Tutorials-main/data-fetching-demo/public/file.svg
Next.js-15-Tutorials-main/data-fetching-demo/public/globe.svg
Next.js-15-Tutorials-main/data-fetching-demo/public/next.svg
Next.js-15-Tutorials-main/data-fetching-demo/public/vercel.svg
Next.js-15-Tutorials-main/data-fetching-demo/public/window.svg
Next.js-15-Tutorials-main/data-fetching-demo/src/prisma-db.ts
Next.js-15-Tutorials-main/data-fetching-demo/src/actions/products.ts
Next.js-15-Tutorials-main/data-fetching-demo/src/app/favicon.ico
Next.js-15-Tutorials-main/data-fetching-demo/src/app/globals.css
Next.js-15-Tutorials-main/data-fetching-demo/src/app/layout.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/page.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/fonts/GeistMonoVF.woff
Next.js-15-Tutorials-main/data-fetching-demo/src/app/fonts/GeistVF.woff
Next.js-15-Tutorials-main/data-fetching-demo/src/app/posts-sequential/author.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/posts-sequential/page.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/products-db/page.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/products-db/product-detail.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/products-db/\[id]/page.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/products-db/\[id]/product-edit-form.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/products-db-create/page.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/react-form/page.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/react-form/api/route.ts
Next.js-15-Tutorials-main/data-fetching-demo/src/app/user-parallel/\[userId]/loading.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/user-parallel/\[userId]/page.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/users-client/page.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/users-server/error.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/users-server/loading.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/app/users-server/page.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/components/search.tsx
Next.js-15-Tutorials-main/data-fetching-demo/src/components/submit.tsx
Next.js-15-Tutorials-main/hello-world/.eslintrc.json
Next.js-15-Tutorials-main/hello-world/.gitignore
Next.js-15-Tutorials-main/hello-world/next.config.ts
Next.js-15-Tutorials-main/hello-world/package-lock.json
Next.js-15-Tutorials-main/hello-world/package.json
Next.js-15-Tutorials-main/hello-world/postcss.config.mjs
Next.js-15-Tutorials-main/hello-world/README.md
Next.js-15-Tutorials-main/hello-world/tailwind.config.ts
Next.js-15-Tutorials-main/hello-world/tsconfig.json
Next.js-15-Tutorials-main/hello-world/public/file.svg
Next.js-15-Tutorials-main/hello-world/public/globe.svg
Next.js-15-Tutorials-main/hello-world/public/next.svg
Next.js-15-Tutorials-main/hello-world/public/vercel.svg
Next.js-15-Tutorials-main/hello-world/public/window.svg
Next.js-15-Tutorials-main/hello-world/src/app/favicon.ico
Next.js-15-Tutorials-main/hello-world/src/app/globals.css
Next.js-15-Tutorials-main/hello-world/src/app/layout.tsx
Next.js-15-Tutorials-main/hello-world/src/app/page.tsx
Next.js-15-Tutorials-main/hello-world/src/app/fonts/GeistMonoVF.woff
Next.js-15-Tutorials-main/hello-world/src/app/fonts/GeistVF.woff
Next.js-15-Tutorials-main/misc-demo/.eslintrc.json
Next.js-15-Tutorials-main/misc-demo/.gitignore
Next.js-15-Tutorials-main/misc-demo/next.config.ts
Next.js-15-Tutorials-main/misc-demo/package-lock.json
Next.js-15-Tutorials-main/misc-demo/package.json
Next.js-15-Tutorials-main/misc-demo/postcss.config.mjs
Next.js-15-Tutorials-main/misc-demo/README.md
Next.js-15-Tutorials-main/misc-demo/tailwind.config.ts
Next.js-15-Tutorials-main/misc-demo/tsconfig.json
Next.js-15-Tutorials-main/misc-demo/public/file.svg
Next.js-15-Tutorials-main/misc-demo/public/globe.svg
Next.js-15-Tutorials-main/misc-demo/public/next.svg
Next.js-15-Tutorials-main/misc-demo/public/vercel.svg
Next.js-15-Tutorials-main/misc-demo/public/window.svg
Next.js-15-Tutorials-main/misc-demo/src/app/colors.scss
Next.js-15-Tutorials-main/misc-demo/src/app/favicon.ico
Next.js-15-Tutorials-main/misc-demo/src/app/globals.css
Next.js-15-Tutorials-main/misc-demo/src/app/layout.tsx
Next.js-15-Tutorials-main/misc-demo/src/app/page.tsx
Next.js-15-Tutorials-main/misc-demo/src/app/about/about.module.css
Next.js-15-Tutorials-main/misc-demo/src/app/about/about.module.scss
Next.js-15-Tutorials-main/misc-demo/src/app/about/page.tsx
Next.js-15-Tutorials-main/misc-demo/src/app/contact/contact.module.css
Next.js-15-Tutorials-main/misc-demo/src/app/contact/contact.module.scss
Next.js-15-Tutorials-main/misc-demo/src/app/contact/page.tsx
Next.js-15-Tutorials-main/misc-demo/src/app/fonts/GeistMonoVF.woff
Next.js-15-Tutorials-main/misc-demo/src/app/fonts/GeistVF.woff
Next.js-15-Tutorials-main/rendering-demo/.eslintrc.json
Next.js-15-Tutorials-main/rendering-demo/.gitignore
Next.js-15-Tutorials-main/rendering-demo/next.config.ts
Next.js-15-Tutorials-main/rendering-demo/package-lock.json
Next.js-15-Tutorials-main/rendering-demo/package.json
Next.js-15-Tutorials-main/rendering-demo/postcss.config.mjs
Next.js-15-Tutorials-main/rendering-demo/README.md
Next.js-15-Tutorials-main/rendering-demo/tailwind.config.ts
Next.js-15-Tutorials-main/rendering-demo/tsconfig.json
Next.js-15-Tutorials-main/rendering-demo/public/file.svg
Next.js-15-Tutorials-main/rendering-demo/public/globe.svg
Next.js-15-Tutorials-main/rendering-demo/public/next.svg
Next.js-15-Tutorials-main/rendering-demo/public/vercel.svg
Next.js-15-Tutorials-main/rendering-demo/public/window.svg
Next.js-15-Tutorials-main/rendering-demo/src/app/favicon.ico
Next.js-15-Tutorials-main/rendering-demo/src/app/globals.css
Next.js-15-Tutorials-main/rendering-demo/src/app/layout.tsx
Next.js-15-Tutorials-main/rendering-demo/src/app/page.tsx
Next.js-15-Tutorials-main/rendering-demo/src/app/about/page.tsx
Next.js-15-Tutorials-main/rendering-demo/src/app/client-route/page.tsx
Next.js-15-Tutorials-main/rendering-demo/src/app/dashboard/page.tsx
Next.js-15-Tutorials-main/rendering-demo/src/app/fonts/GeistMonoVF.woff
Next.js-15-Tutorials-main/rendering-demo/src/app/fonts/GeistVF.woff
Next.js-15-Tutorials-main/rendering-demo/src/app/product-reviews/page.tsx
Next.js-15-Tutorials-main/rendering-demo/src/app/products/page.tsx
Next.js-15-Tutorials-main/rendering-demo/src/app/products/\[id]/page.tsx
Next.js-15-Tutorials-main/rendering-demo/src/app/server-route/page.tsx
Next.js-15-Tutorials-main/rendering-demo/src/components/ImageSlider.tsx
Next.js-15-Tutorials-main/rendering-demo/src/components/product.tsx
Next.js-15-Tutorials-main/rendering-demo/src/components/reviews.tsx
Next.js-15-Tutorials-main/rendering-demo/src/components/theme-provider.tsx
Next.js-15-Tutorials-main/rendering-demo/src/utils/server-utils.ts
Next.js-15-Tutorials-main/route-handlers-demo/.eslintrc.json
Next.js-15-Tutorials-main/route-handlers-demo/.gitignore
Next.js-15-Tutorials-main/route-handlers-demo/next.config.ts
Next.js-15-Tutorials-main/route-handlers-demo/package-lock.json
Next.js-15-Tutorials-main/route-handlers-demo/package.json
Next.js-15-Tutorials-main/route-handlers-demo/postcss.config.mjs
Next.js-15-Tutorials-main/route-handlers-demo/README.md
Next.js-15-Tutorials-main/route-handlers-demo/tailwind.config.ts
Next.js-15-Tutorials-main/route-handlers-demo/tsconfig.json
Next.js-15-Tutorials-main/route-handlers-demo/public/file.svg
Next.js-15-Tutorials-main/route-handlers-demo/public/globe.svg
Next.js-15-Tutorials-main/route-handlers-demo/public/next.svg
Next.js-15-Tutorials-main/route-handlers-demo/public/vercel.svg
Next.js-15-Tutorials-main/route-handlers-demo/public/window.svg
Next.js-15-Tutorials-main/route-handlers-demo/src/app/favicon.ico
Next.js-15-Tutorials-main/route-handlers-demo/src/app/globals.css
Next.js-15-Tutorials-main/route-handlers-demo/src/app/layout.tsx
Next.js-15-Tutorials-main/route-handlers-demo/src/app/page.tsx
Next.js-15-Tutorials-main/route-handlers-demo/src/app/api/v1/users/route.ts
Next.js-15-Tutorials-main/route-handlers-demo/src/app/api/v2/users/route.ts
Next.js-15-Tutorials-main/route-handlers-demo/src/app/categories/route.ts
Next.js-15-Tutorials-main/route-handlers-demo/src/app/comments/data.ts
Next.js-15-Tutorials-main/route-handlers-demo/src/app/comments/route.ts
Next.js-15-Tutorials-main/route-handlers-demo/src/app/comments/\[id]/route.ts
Next.js-15-Tutorials-main/route-handlers-demo/src/app/dashboard/route.ts
Next.js-15-Tutorials-main/route-handlers-demo/src/app/dashboard/users/route.ts
Next.js-15-Tutorials-main/route-handlers-demo/src/app/fonts/GeistMonoVF.woff
Next.js-15-Tutorials-main/route-handlers-demo/src/app/fonts/GeistVF.woff
Next.js-15-Tutorials-main/route-handlers-demo/src/app/hello/route.ts
Next.js-15-Tutorials-main/route-handlers-demo/src/app/profile/page.tsx
Next.js-15-Tutorials-main/route-handlers-demo/src/app/profile/api/route.ts
Next.js-15-Tutorials-main/route-handlers-demo/src/app/time/route.ts
Next.js-15-Tutorials-main/routing-demo/.eslintrc.json
Next.js-15-Tutorials-main/routing-demo/.gitignore
Next.js-15-Tutorials-main/routing-demo/next.config.ts
Next.js-15-Tutorials-main/routing-demo/package-lock.json
Next.js-15-Tutorials-main/routing-demo/package.json
Next.js-15-Tutorials-main/routing-demo/postcss.config.mjs
Next.js-15-Tutorials-main/routing-demo/README.md
Next.js-15-Tutorials-main/routing-demo/tailwind.config.ts
Next.js-15-Tutorials-main/routing-demo/tsconfig.json
Next.js-15-Tutorials-main/routing-demo/public/file.svg
Next.js-15-Tutorials-main/routing-demo/public/globe.svg
Next.js-15-Tutorials-main/routing-demo/public/next.svg
Next.js-15-Tutorials-main/routing-demo/public/vercel.svg
Next.js-15-Tutorials-main/routing-demo/public/window.svg
Next.js-15-Tutorials-main/routing-demo/src/app/error-wrapper.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/global-error.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/globals.css
Next.js-15-Tutorials-main/routing-demo/src/app/layout.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/not-found.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/(auth)/styles.css
Next.js-15-Tutorials-main/routing-demo/src/app/(auth)/template.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/(auth)/forgot-password/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/(auth)/login/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/(auth)/register/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/_lib/format-date.js
Next.js-15-Tutorials-main/routing-demo/src/app/_lib/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/about/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/articles/\[articleId]/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/blog/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/blog/first/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/blog/second/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/complex-dashboard/default.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/complex-dashboard/layout.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/complex-dashboard/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/complex-dashboard/@login/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/complex-dashboard/@notifications/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/complex-dashboard/@notifications/archived/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/complex-dashboard/@revenue/default.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/complex-dashboard/@revenue/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/complex-dashboard/@users/default.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/complex-dashboard/@users/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/counter/counter.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/counter/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/dashboard/line-chart.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/dashboard/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/docs/\[\[...slug]]/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/f1/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/f1/(.)f2/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/f1/(..)f3/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/f1/f2/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/f1/f2/(..)(..)f4/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/f1/f2/inner-f2/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/f1/f2/inner-f2/(...)f5/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/f3/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/f4/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/f5/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/layout.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/styles.css
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/wonders.ts
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/@modal/default.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/@modal/(.)\[id]/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/\[id]/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/photos/1.jpg
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/photos/2.jpg
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/photos/3.jpg
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/photos/4.jpg
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/photos/5.jpg
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/photos/6.jpg
Next.js-15-Tutorials-main/routing-demo/src/app/photo-feed/photos/7.jpg
Next.js-15-Tutorials-main/routing-demo/src/app/products/error.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/products/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/products/\[productId]/layout.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/products/\[productId]/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/products/\[productId]/reviews/\[reviewId]/error.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/products/\[productId]/reviews/\[reviewId]/not-found.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/products/\[productId]/reviews/\[reviewId]/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/app/profile/page.tsx
Next.js-15-Tutorials-main/routing-demo/src/components/card.tsx
Next.js-15-Tutorials-main/routing-demo/src/components/modal.tsx
my-app/.gitignore
my-app/eslint.config.mjs
my-app/next.config.ts
my-app/package-lock.json
my-app/package.json
my-app/postcss.config.mjs
my-app/README.md
my-app/tsconfig.json
my-app/app/favicon.ico
my-app/app/globals.css
my-app/app/layout.tsx
my-app/app/page.tsx
my-app/public/file.svg
my-app/public/globe.svg
my-app/public/next.svg
my-app/public/vercel.svg
my-app/public/window.svg
